*{
    margin: 0;
    padding: 0;
    background-color: #d3d3d3;
}


h1{
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 3vh;
    font-size: 4em;
    margin-bottom: 6vh;
}

    .article1{
        width: 95vw;
        height: 65%;
        display: inline-block;

    }

    .article1 h3{
        display: flex;
        justify-content: flex-start;
        margin-top: 2vh;
        margin-left: 2vw;
    }

    .article1 h3 a{
        display: flex;
        justify-content: flex-start;
        text-decoration: none;
        font-size: 180%;
        color: black;
    }

    .article1 img{
        position: relative;
        display: flex;
        height: 55vh; 
        width: 100vw;
        align-items: center; 
        margin-top: 2vh;
        margin-bottom: 1vh;
    }

    .article1 p{
        margin-bottom: 3vh;
        text-align: center;
        font-size: 18px;
        margin-left: 2vw;
        margin-right: 2vw;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    
    .article2{
        width: 95vw;
        height: 65%;
        display: inline-block;

    }

    .article2 h3{
        display: flex;
        justify-content: flex-start;
        margin-top: 2vh;
    }

    .article2 h3 a{
        display: flex;
        justify-content: flex-start;
        text-decoration: none;
        font-size: 180%;
        color: black;
        margin-left: 2vw;
    }

    .article2 img{
        position: relative;
        display: flex;
        height: 55vh; 
        width: 100vw;
        align-items: center; 
        margin-top: 2vh;
        margin-bottom: 1vh;
    }

    .article2 p{
        margin-bottom: 3vh;
        text-align: center;
        font-size: 18px;
        margin-left: 2vw;
        margin-right: 2vw;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }